h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.more {text-align: center; background-color: black;
color:white;
}

/*
h2{font-family: 'Inknut Antiqua', serif; text-align: center;}
h4{font-family: 'Playfair Display SC', serif; text-align: center;}
h3{font-family: 'Open Sans', sans-serif;}
*/

.center-block {
    display: block;
    margin-left: 0;
    margin-right: 0;
 }

.container-fluid{
   
    margin-top:40px;
}
.container{margin-top: 30px;
}


.lastpage
{
    position: relative;
    background-color:lightblue;
    background-repeat: no-repeat;
    background-size: cover;
   /* height: 1000px;
    width: 100%;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.text{font-family: 'Open Sans', sans-serif;
font-size:30px; text-align:center; margin-top:30px;
}
a{text-align: center;
}
.sort{text-align: center; font-size: 20px;
}
#price{margin: 40px; margin-left: 95px;
}